@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Monoton&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Sonsie+One&family=Yeseva+One&display=swap');


/* @import url("/font/body_font.otf"); */

@font-face {
  font-family: 'Charmonman', cursive;
  font-family: 'Monoton', cursive;
  font-family: 'Poppins', sans-serif;
  font-family: 'Sonsie One', cursive;
  font-family: 'Yeseva One', cursive;
}

@font-face {
  font-family: 'Proxima Nova', sans-serif;
  src: url(/font/body_font.otf);
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  /* src: url(https://example.com/MaterialIcons-Regular.eot); */
  /* For IE6-8 */
}

:root {
  --tomato: rgb(255, 99, 71);
  --orange: #FA8231;
  --yellow: #F7B731;
  --dgree: #2BCBBA;
  --dblue: #4B7BEC;
  --violat: #A65EEA;
  --white: #ffffff;
  --offwhite: #f7f7f7;
  --dark: #171717;
  --h4: 24px;
  --navHeight: 80px;

}

* {
  box-sizing: border-box;
}

*::after,
*::before {
  clear: both;
  display: table;
}

h1 {
  font-family: 'Yeseva One', cursive;
  font-size: 6.5em;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h4 {
  font-family: 'Charmonman', cursive;
  font-family: 'Monoton', cursive;
  font-family: 'Sonsie One', cursive;
  font-family: 'Poppins', sans-serif;
  font-size: var(--h4);
}

p,
p2,
p3,
p4 {
  font-family: 'Proxima Nova', sans-serif;
}

p {
  font-size: 15px;
}

p4,
.heroFooter a {
  font-size: 10px;
  font-weight: 500;
}


.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-6 {
  width: 50%;
  float: left;
  display: block;
}

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}


/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {

  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33%;
  }

  .col-s-5 {
    width: 41.66%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33%;
  }

  .col-s-8 {
    width: 66.66%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
  }

  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {

  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}

a {
  font-family: 'Proxima Nova', sans-serif;
  text-decoration: none;
  color: unset;
}

a .btn-text {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
}

.btn {
  position: relative;
  /*   border:1px;
  border-style:solid;
  border-color:#fff; */
  padding: 9px 25px;
  display: block;
  width: max-content;
}

.heroSlide .btn-hero {
  float: right;
}

.btn-stl-1 {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.btn-text {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--colorChange);
  filter: saturate(10);
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
}

.btn-stl-1 div {
  display: block;
  /* position: absolute; */
  /*     width: calc(50% - 0px); */
  /*     height: 18px; */
  background-color: var(--colorChange);
  filter: saturate(10);
  top: 50%;
  left: 50%;
  transition: .5s ease;
  border-radius: 4px;
}

.btn-stl-1:hover {
  border-radius: 5px;
}

.btn-stl-1 .btn-b1 {
  float: left;
  transform: rotate(0deg);
  border-left: 25px solid transparent;
  border-right: 37px solid;
  /* border-bottom: 0px solid; */
  border-top: 18px solid;
}

.btn:hover .btn-stl-1 .btn-b1 {
  transform: rotate(31deg);
}

.btn-stl-1 .btn-b2 {
  float: right;
  transform: rotate(0deg);
  border-left: 25px solid;
  border-right: 37px solid transparent;
  /* border-bottom: 0px solid; */
  border-top: 18px solid;
}

.btn:hover .btn-stl-1 .btn-b2 {
  transform: rotate(-31deg);
}

.btn-stl-1 .btn-b3 {
  float: left;
  transform: rotate(0deg);
  border-left: 25px solid transparent;
  border-right: 37px solid;
  border-bottom: 18px solid;
  border-top: 0px solid;
}

.btn:hover .btn-stl-1 .btn-b3 {
  transform: rotate(-31deg);
}

.btn-stl-1 .btn-b4 {
  float: right;
  transform: rotate(0deg);
  border-left: 25px solid;
  border-right: 37px solid transparent;
  border-bottom: 18px solid;
  border-top: 0px solid;
}

.btn:hover .btn-stl-1 .btn-b4 {
  transform: rotate(31deg);
}

hr {
  min-width: 60px;
  border: 1px solid;
}

.verticalBar {
  width: 1px;
  height: 30px;
  background: var(--colorChange);
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
  cursor: pointer;
}


.navBar {
  position: relative;
  width: 100%;
  height: var(--navHeight);
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid; */
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  z-index: 99;
}

.nav-container {
  width: 33.33%;
  float: left;
  display: block;
}

.brandTitle {
  font-family: 'Passion One', cursive;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--colorChange) !important;
  filter: invert(100);
  letter-spacing: 1px;
}

#leftCenter {
  text-align: center;
  visibility: hidden;
}

.navList {
  display: none;
  list-style: none;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 11px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 0;
}

.nav-center .navList {
  gap: 10px;
}

.nav-right .navList {
  float: right;
  margin-right: 90px;
  gap: 10px;
}

.navLink {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  color: var(--dark);
  letter-spacing: 1px;
}

#navSocialList svg {
  fill: var(--dark);
}



.navManu {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 7px;
  list-style: none;
  width: 45px;
  height: 45px;
  /* min-height: 25px; */
  padding: 0;
  margin: auto;
  transition: inherit;
  right: 0%;
}

.navManu:hover {
  display: flex;
  align-items: center;
}

.navManu li {
  position: absolute;
  background: var(--dark);
  background: var(--colorChange);
  filter: invert(1);
  position: relative;
  overflow: hidden;
  transition: .75s cubic-bezier(0.5, 0.5, 0, 1);
  transition-delay: 0.23s;
}

li.hamTop,
li.hamBottom {
  height: 45px;
  width: 5px;
}

.navManu:hover li.hamTop,
.clicked li.hamTop {
  width: 55px;
  height: 5px;
  position: absolute;
  transform: rotate(45deg);

}

li.hamCenter {
  height: 30px;
  width: 5px;
}

.navManu:hover li.hamCenter {
  position: fixed;
  right: 0;
  top: 0;
  width: 5px;
  height: 100vh !important;
  transition: .2s;
}

.navManu:hover li.hamBottom,
.clicked li.hamBottom {
  width: 55px;
  height: 5px;
  position: absolute;
  transform: rotate(315deg);
}

.clicked li.menuContainerHam {
  position: fixed;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 20vw) !important;
  height: 100vh;
  background-color: var(--accentColor);
  top: 0;
  right: 0;
  z-index: 12;
  filter: saturate(10);
  backdrop-filter: blur(5px);
}


.menuContainer {
  transition: .75s cubic-bezier(0.5, 0.5, 0, 1);
  display: block;
  position: fixed;
  width: 0;
  height: calc(100vh);
  top: 0;
  right: 0;
  z-index: 100;
  background: var(--white);
  overflow: hidden;
}

.openManu {
  width: calc(100vw - 20vw);
  transition-delay: .1s;
}

.menuContainer .bland-container {
  padding-top: 30px;
  padding-left: 30px;
  width: auto;
  position: relative;
}

.openManu .bland-container {
  width: 90%;
}

.openManu .bland-container>.row>div {
  transition: .75s cubic-bezier(0.5, 0.5, 0, 1);
  transition-delay: .5s;
}
.menu-items-box-wrap.contentBlock{
  margin-bottom: 30px;
}



.menu-items-box-wrap {
  display: grid;
  -ms-grid-rows: (100px)[5];
  grid-template-rows: repeat(1, 1fr);
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
  padding-left: 1vw !important;
}

a.menu-items-box {
  position: relative;
  display: -ms-grid;
  display: grid;
}

a.menu-items-box h1 {
  margin: 0;
  font-size: 30px;
}

a.menu-items-box p3 {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 10px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .5px;
}

a.menu-items-box p4 {
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .75px;
  position: relative;
  left: -15px;
}

.menu-items-box p4::after {
  content: "";
  width: 0.5px;
  height: 50px;
  background: #000000;
  position: absolute;
  top: 11px;
  left: 1px;
  font-size: 0;
  letter-spacing: 0;
}

a.menu-items-box hr {
  position: absolute;
  bottom: 37%;
  right: 0;
  left: auto;
  width: 0%;
  min-width: 0px !important;
  background: #fff0;
  filter: invert(1);
  mix-blend-mode: exclusion;
  transition: 1s cubic-bezier(0.31, 0.4, 0.1, 0.98);
  border-color: transparent;
}

a.menu-items-box:hover hr {
  width: 100%;
  left: 0;
  right: auto;
  border-color: black;
}

.mobile-social-links{
  position: relative;
}

/*  ---- nav menu close button----*/
.nav-close-wrap {
  height: 55px;
  width: 55px;
  right: -40%;
  top: 4%;
  transform: translate(0px, -50%);
  position: absolute;
  transition: .5s;
  transition-delay: 0s;
}

.openManu .nav-close-wrap {
  display: block;
  transition-delay: .5s;
  right: 5%;
}

.nav-close {
  position: absolute;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  align-items: center;
  cursor: pointer;
}

.nav-close li {
  position: absolute;
  width: 55px;
  height: 5px;
  right: 0;
  background-color: var(--dark);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.nav-close li:nth-child(1) {
  width: 27px;
  bottom: 33px;
  transform: rotate(225deg);
}

.nav-close li:nth-child(2) {
  left: -8px;
  opacity: 1;
}

.nav-close li:nth-child(3) {
  width: 27px;
  top: 33px;
  transform: rotate(315deg);
}


.openManu .nav-close li {
  position: absolute;
  width: 55px;
  height: 5px;
  right: 0;
  background-color: var(--dark);
}

.openManu .nav-close li:nth-child(1) {
  transform: rotate(45deg);
  bottom: auto;
}

.openManu .nav-close:hover li:nth-child(1) {
  width: 27px;
  bottom: 33px;
  transform: rotate(225deg);
}

.openManu .nav-close li:nth-child(2) {
  left: -30px;
  opacity: 0;
  /* border-radius: 100%; */
  /* height: 55px; */
  left: 0;
  /* border: 5px solid; */
  /* background: transparent; */
}

.openManu .nav-close:hover li:nth-child(2) {
  left: -8px;
  opacity: 1;
  height: 5px;
}

.openManu .nav-close li:nth-child(3) {
  transform: rotate(135deg);
  top: auto;
}

.openManu .nav-close:hover li:nth-child(3) {
  width: 27px;
  top: 33px;
  transform: rotate(315deg);
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  margin: 0;
  /*   margin-top:100px; */
}

header.header-bottom {
  position: absolute;
  width: 100%;
}

.navBar {
  max-width: calc(100% - 0px);
  width: 100%;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
  /* border-left: 1px solid;
  border-right: 1px solid; */
  position: relative;

}

main.main {
  margin: 0;
  padding: 0;
  border: none;
}

section.section {
  position: relative;
  min-height: 50px;
  display: block;
  align-items: center;
  /* position: -webkit-sticky;
  position: sticky; */
  top: 0;

}

.contentBlock {
  padding-left: 15px;
  padding-right: 15px;
}




#sectionHero {
  height: 100vh;
  min-height: 90vh;
}

#sectionOne {
  height: 80vh;
  max-width: calc(100% - 30%);
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  /*   background:#000; */
  z-index: -1;

}

.content-wrapper.index-content {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  z-index: 1;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .mobile-social-links .navList {
    display: inline-flex;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {
    background: green;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .nav-container .navList {
    display: inline-flex;
  }

  .clicked li.menuContainerHam {
    width: calc(100vw - 40vw) !important;
    height: 100vh;
  }
  .nav-close-wrap {
    top: 50%;
  }

  .navLink {
    color: var(--colorChange) !important;
    filter: invert(100);
  }

  #navSocialList svg {
    fill: var(--colorChange) !important;
  }

  .openManu {
    width: calc(100vw - 40vw);
  }

  .menuContainer .bland-container {
    padding: 4vw 2vw;
  }
  .menuContainer span.navLink{
    display: none;
  }


  a.menu-items-box h1 {
    margin: 0;
    font-size: 4.5vw;
  }
  a.menu-items-box p3 {
   
    font-size: 12px;
  }
  .menu-items-box p4::after {
    height: 114px;
}

  section.section {
    position: relative;
    min-height: 50px;
    display: flex;
    align-items: center;
    /* position: -webkit-sticky;
    position: sticky; */
    top: 0;
  
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {
    background: orange;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}